@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
}

.headingText {
  @apply lg:text-6xl md:text-5xl text-4xl !leading-snug;
}

.bodyText {
  @apply lg:text-lg text-base;
}
