@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
}

.headingText {
  @apply lg:text-6xl md:text-5xl text-4xl !leading-snug;
}

.subHeadingText {
  @apply lg:text-5xl md:text-4xl text-3xl !leading-snug;
}

.largeBodyText {
  @apply lg:text-3xl text-2xl;
}

.mediumBodyText {
  @apply lg:text-2xl text-xl;
}

.smallBodyText {
  @apply lg:text-lg text-base;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: orange;
  transform-origin: bottom;
  z-index: 100;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: orange;
  transform-origin: top;
  z-index: 100;
}
